<%= link_to("Add Post", new_post_path, class: 'btn btn-primary', style: "color: #351010;") %>

<% if @posts.present? %>
  <h1>Posts</h1>
  <table class="table table-bordered">
    <thead>
      <th>S.No</th>
      <th>Id</th>
      <th>Title</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <%= render @posts %>
      <% @posts.each do |post| %>
        <%= post.title %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Posts Found !!</h2>
<% end %>
